* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #ede2e2;
}
h1 {
  text-align: center;
  padding-top: 20px;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.game__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}
.icon {
  width: 5rem;
  height: 5rem;
  color: blueviolet;
  cursor: pointer;
  background-color: aqua;
  border-radius: 50%;
  padding: 0.5rem;
  transition: all 1s;
}
.icon:hover {
  background-color: blueviolet;
  color: white;
}
.icon:active {
  transform: scale(0.9);
}
.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.message {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.game__description {

  width: 40%;
  margin: 1rem auto;
}
.game__rules{
  width: 40%;
  margin: 1rem auto;
}
